.App {
  text-align: center;
}

/* GENERICS */
/* html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
} */
/*
*,
*::before,
*::after {
  box-sizing: inherit;
} */
/* Try to keep your margins going in one direction to avoid margin collapase or grounding. I switch all the top margins off to avoid this issue. */
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}*/
a {
  color: inherit;
  text-decoration: none;
}
/*
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  */
/* img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}*/
/* Because we us <ul>s for lists that we don't always want bulletted. */
/* ul {
  list-style: none;
  padding-left: 0;
} */
/* To make actual bulletted lists */
/* ul.typographic {
  list-style: initial;
  padding-inline-start: 20px;
} */
/* For 'accessibility text'. If your button only has an image inside it that isn't good for accessibility. Put a span inside there and give it this class and put some descriptive text for what the button does into the span. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.page {
  min-height: 100vh;
}
